*.csproj
*.unitypackage
*.sln
Library/
Logs/
Temp/
Obj/
Build/
Builds/
UserSettings/
Packages/com.unity.package-manager/ProjectCache/
.vs/
.idea/
.vscode/
Temp/
*.suo
*.user
*.vscode/
*.idea/
*.apk
*.aab
*.exe
*.app
*.ipa
.DS_Store
Thumbs.db
*.pidb
*.pdb
*.ilk
*.exp
